.jumbo{
    background-color: #1abc9c;
    height: 500px;
    color: white;
}
.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar{
    height: 40%;
    width: auto;
}
.column{
    display: flex;
    flex-direction: column;
}
.img{
    width: 100%;
    height: auto;
    
}
.about{
    background-color: #1abc9c;
    height: 400px;
    color: white;
}
.my_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.my-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.border-bottom{
    border-bottom: 1px solid grey;
    height: 3rem;
    width: 100%;

}
.loghetti-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.footer_top{
    background-color: #3a546d;
    color: #f6f7f7;
}
.width_100{
    width: 100%;
}
.navbar-custom {
    background-color: #2c3e50; 
    
}
.navbar-nav {
    width: 100%;
    justify-content: flex-end; 
}

.freccette{
    display: flex;
    flex-direction: row;
}
.linea-white{
    height: 3px;
    width: 7rem;
    background-color: white;
    border-radius: 1px;
    
}
.linea-blue{
    height: 3px;
    width: 7rem;
    background-color: #2c3e50 ;
    border-radius: 1px; 
}
.fa-star{
    padding: 1rem;
    font-size: 1.5rem;
}
.color_green{
    background-color: #1abc9c;
}
.my_rounded{
    height: 2rem;
    width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    
}